<!DOCTYPE html>
<html>
  <head>
    <title>ActioncableReactDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <script>
      ENV = <%= js_env.to_json.html_safe %>;
    </script>
    <div id="container">

    </div>
    <%= yield %>
  </body>
</html>
